<mat-card>
  <mat-card-content>
    <app-cart-list
      [items]="cartItems"
      [totalSum]="cartTotalSum"
      [totalQuantity]="cartTotalQuantity"
      (increaseCartItem)="onIncreaseCartItem($event)"
      (decreaseCartItem)="onDecreaseCartItem($event)"
      (deleteCartItem)="onDeleteCartItem($event)">
    </app-cart-list>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="!isEmptyCart">
    <button mat-raised-button color="primary" [routerLink]="['/process-order']">Order</button>
  </mat-card-actions>
</mat-card>
